{% extends "layout.html" %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>

    <script>
    function update(source_id, target_id) {
        var content = document.getElementById(source_id).value;
        $.post('/markdown', {content:content}, function(result) {
                document.getElementById(target_id).innerHTML = result;
        });
    }

    $.ajax({
        url: '/_search_tags'
        }).done(function (data) {
            $('#tags').autocomplete({
                source: data.tags,
                minLength: 1
        });
    });

    </script>
{% endblock %}

{% block content %}

<h2> Add a new post </h2>

<form role="form" action="{{ url_for('add_default_post', pk=post.pk) }}" method=post>
    <div class="form-group">
        <label for="text">Name: </label>
        <input class="form-control" type=text name=name value='{{post.name}}' > 
    </div>

    <div class="form-group">
        <label for="text">Tags: </label>
        <input class="form-control"  type=text name='tags' id='tags'
                autocomplete=off
                value='{% for tag in post.tags %}{{tag.name}}{% endfor %}'>
    </div>

    <div class='subform' id='post_default'>
        <label for="text">Content: </label>
        <textarea class="form-control" 
                  id=default_content
                  onchange="update('default_content', 'preview');"
                  onkeyup="update('default_content', 'preview');"
                  name=default_content rows='10'>{{post.content.text}}</textarea>
    </div>

    <button type="button" 
            class="btn btn-primary btn-lg"
            onclick="update('default_content', 'preview');">
            Update preview.
    </button>
    <br>

    <div class="checkbox">
        <label>
        <input type="checkbox" name="public" value="public">
        Make public.</label>
    </div>

    <div class="form-group">
        <input class="form-control"  id='add_post' type=submit value=Save>
    </div>
</form>

{# Preview field #}
<label for="text">Preview: </label>
<br>
<br>
<div id="preview" class="span2 well">
    {# Add this to center text: style="text-align: center"> #}
    preview
</div>
<br>



{{super()}}
{% endblock %}
