{% extends "layout.html" %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>

    <script>
        
    {# Add a tag #}
    function add_tag() {
        var tag_name = document.getElementById('new_tag').value;
        if (current_tags.indexOf(tag_name) == -1) {
            var text = '<big> <span style="padding-right: 0.1em"> <span name=tags class="tag label label-info" > <input type="hidden" name="tags" value="' + 
                        tag_name + '"> ' + tag_name +
                        '<a> &nbsp <i class="remove glyphicon glyphicon-remove-sign glyphicon-white" onclick="remove_tag(this)"></i></a> &nbsp </span></span> </big>';
            document.getElementById('tag_list').innerHTML += text;
            current_tags.push(tag_name);

        }
        document.getElementById('new_tag').value='';
    }
    
    {# Remove a tag by removing the span that encloses it #}
    remove_tag = function(element) {
        element.closest('big').remove();
    }

    {# Tag autocomplete #}
    $.ajax({
        url: '{{url_for("api_search_tags")}}'
        }).done(function (data) {
            $('#tags').autocomplete({
                source: data.tags,
                minLength: 1
        });
    });

    var current_tags = [{% for tag in post.tags %} '{{tag.name}}', {% endfor%}];

    </script>
{% endblock %}

{% block content %}

<h2> Add a new post </h2>

<form role="form" action="{{ url_for('edit_post', category=category, pk=post.pk) }}" method=post>
    <div class="form-group">
        <label for="text">Name: </label>
        <input class="form-control" type=text name=name value='{{post.name}}' > 
    </div>

    <div id='tag_list'>
        <label for="text">Tags: </label>
        {% for tag in post.tags %}
            <big>
            <span style="padding-right: 0.1em">
            <span name=tags class="tag label label-info label-lg" >
            <input type="hidden" name="tags" value="{{tag.name}}">
            {{tag.name}}
            <a> &nbsp<i class="remove glyphicon glyphicon-remove-sign {#text-danger#}" onclick="remove_tag(this)"></i></a> 
            </span>
            </span>
            </big>
        {% endfor %}
    </div>
    <div class="form-group form-inline" id='tags'>
        <label for="text">Add a new tag to the post: </label>
        <input class="form-control"  type=text id=new_tag name=new_tag value='' autocomplete=off
               {# if user presses enter, we want to add a new tag.
               To do this:
               onkeydown: if key is enter (KeyCode == 13), add tag.
               Finally, prevent the default action of the key (which would submit the form)
               #}
               onkeydown="if (event.keyCode == 13) {event.preventDefault(); document.getElementById('new_tag_button').click();}">
        <button type="button" id='new_tag_button' class="btn btn-primary btn-md" onclick="add_tag()">
                Add.
        </button>
    </div>


    {% if category == 'default' %}
        {% include 'edit_default.html' %}
    {% elif category == 'todo' %}
        {% include 'edit_todo.html' %}
    {% elif category == 'review' %}
        {% include 'edit_review.html' %}
    {% endif %}

    <div class="checkbox">
        <label>
        <input type="checkbox" name="public" value="public"
            {% if post.status == 'public' %} checked {%endif%} >
        Make public.</label>
    </div>

    <div class="form-group">
        <input class="form-control"  id='add_post' type=submit value=Save>
    </div>
</form>

{{super()}}
{% endblock %}
