<script>
{# Update preview of the content #}
function update(source_id, target_id) {
    var content = document.getElementById(source_id).value;
    $.post('{{url_for('get_rst')}}', {content:content}, function(result) {
            document.getElementById(target_id).innerHTML = result;
    });
}
</script>

<div class='subform' id='post_default'>
    <label for="text">Content: </label>
    <textarea class="form-control" 
            id=default_content
            onchange="update('default_content', 'preview');"
            onkeyup="update('default_content', 'preview');"
            name=default_content rows='10'>{{post.content.text}}</textarea>
</div>

<button type="button" 
        class="btn btn-primary btn-lg"
        onclick="update('default_content', 'preview');">
        Update preview.
</button>
<br>

{# Preview field #}
<label for="text">Preview: </label>
<br>
<br>
<div id="preview" class="span2 well">
    {# Add this to center text: style="text-align: center"> #}
    preview
</div>
<br>

