<!doctype html>
{% extends "bootstrap/base.html" %}


{% block title %}
  Note taking app.
{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('blog')}}"> Blog </a>
        </div>
        <div>

        {% if current_user.is_authenticated() %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('post_list') }}"> All posts </a></li>
            <li><a href="{{ url_for('new_tag') }}"> New tag </a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">New post
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('new_post', category='default') }}"> Default post. </a></li>
                    <li><a href="{{ url_for('new_post', category='todo') }}"> To-do list. </a></li>
                    <li><a href="{{ url_for('new_post', category='review') }}"> Review post. </a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Signed in as {{current_user.username}} </p>
            <p class="navbar-text"><a href="{{ url_for('logout') }}">Logout</a></p>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('blog') }}"> all posts </a></li>
        </ul>
        <p class="navbar-text"> Not signed in. </p>
        {% endif %}
    </div>
    </nav>

    {{super()}}
    <br> 
    <div class="footer" style="text-align: center">
      <small>© Copyright 2015</small>
    </div>
{% endblock %}
