<!doctype html>
{% extends "bootstrap/base.html" %}


{% block title %}
  Note taking app.
{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('blog')}}"> Blog </a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('post_list') }}"> All posts </a></li>
            <li><a href="{{ url_for('new_tag') }}"> New tag </a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">New post
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('new_post', category='default') }}"> Default post. </a></li>
                    <li><a href="{{ url_for('new_post', category='todo') }}"> To-do list. </a></li>
                    <li><a href="{{ url_for('new_post', category='review') }}"> Review post. </a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    {{super()}}
    <br> 
    <div class="footer" style="text-align: center">
      <small>© Copyright 2015</small>
    </div>
{% endblock %}
